<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stored-data</title>
</head>
<body>
    <div style="background-color:orange;height:100vh;width:100%">
        <form action="/get-stored-data" method="Post">
            <input type="text"name="gmail"placeholder=gmail>
            <input type="text"name="password"placeholder=password>
            <input type="submit"value="submit">

        </form>
        
    </div>
    
</body>
</html>